{% extends 'header.html' %}
{% load static %}
    {% block content %}
<style>
   .coffee_section {
       width: 100%;
       float: left;
       height:800px;
   }
   .coffee_section_2 {
       width: 90%;
       margin: 0 auto;
       height: 600px;
       text-align: center;
       padding-top: 40px;
   }
   .coffee_box {
      width: 100%;
      float: left;
      background-color: #242c2f;
      height: 300px;
      padding: 20px 20px;
   }
   .looking_text {
       width: 100%;
       float: left;
       height: 120px;
       font-size: 14px;
       color: #fefefd;
       text-align: center;
       margin: 0px;
   }
   h4{
      color:white;
   }
   .btn-danger {
       width: 150px;
       height: 40px;
       color: #dc3545;
       font-size: 16px;
       border-color: #dc3545;
   }
    .fa {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        margin-top: 31px;
    }
    .footer_social_icon li a {
        float: left;
        padding: 5px 10px;
        background-color: #fff;
        color: #1d1d1d;
        border-radius: 100%;
        font-size: 19px;
        margin-right: 5px;
        width: 62px;
        text-align: center;
        margin-top: 10px;
    }
    .footer_section {
         width: 100%;
         float: left;
         margin-top:50%;
         height: auto;
         background-color: #1d1d1d;
         background-size: 100%;
         padding: 50px 0px;
    }
</style>
    <div class="coffee_section layout_padding">
        <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="coffee_taital">OUR Coffee OFFER</h1>
               </div>
            </div>
        </div>
        <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item">
                     <div class="container-fluid">
                        <div class="row">
                           <div class="col-lg-3 col-md-6">
                              <div class="coffee_img"><img src="{% static 'images/img-1.png' %}"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">TYPES OF COFFEE</h3>
                                 <p class="looking_text">looking at its layout. The point of has a more-or-less normal distribution of letters, as opposed to using </p>
                                 <div class="read_bt"><a href="{% url 'cofe_read' %}">Read More</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item active">
                     <div class="container-fluid text-center align-content-center">
                        <div class="row text-center align-content-center" >
                          {% for i in data %}
                           <div class="col-lg-4 col-md-6">
                              <div class="coffee_img"><img src="{{ i.image.url }}"></div>
                              <div class="coffee_box">
                                 <h3 class="types_text">{{ i.item_name }}</h3>
                                 <p class="looking_text">{{ i.description }}</p>
                                 <h4 class="price">{{ i.price }}</h4>
                                  {% if user.is_active == 1 %}
                                  <div class="read_bt"><a href="{% url 'cart_item' %}">Add to cart</a></div>
                                  {% else %}
                                    <div class="read_bt"><a href="{% url 'login_page' %}">Add to cart</a></div>
                                  {% endif %}
                              </div>
                           </div>
                           {% endfor %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
    </div>
    <div class="footer_section layout_padding ">
        <div class="container">
           <div class="row">
              <div class="col-md-12">
                 <div class="footer_social_icon">
                    <ul>
                       <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                       <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                       <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                       <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                 </div>
                 <div class="location_text">
                    <ul>
                       <li>
                          <a href="#">
                          <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">+01 1234567890</span>
                          </a>
                       </li>
                       <li>
                          <a href="#">
                          <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">demo@gmail.com</span>
                          </a>
                       </li>
                    </ul>
                 </div>
                 <div class="form-group">
                    <textarea class="update_mail" placeholder="Your Email" rows="5" id="comment" name="Your Email"></textarea>
                    <div class="subscribe_bt"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
                 </div>
              </div>
           </div>
        </div>
    </div>
    <div class="copyright_section">
        <div class="container">
           <div class="row">
              <div class="col-sm-12">
                 <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free Html Templates</a>
                 Distribution by <a href="https://themewagon.com">ThemeWagon</a></p>
              </div>
           </div>
        </div>
    </div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}